

@media screen and (max-width: 360px){




    .navbar > div {
        background: url('./photo.jpg');
        background-size: cover;
        background-attachment: fixed;
        
      
    }



/* FEATURES */

.features{
    padding: 6em 6em 6em 6em;
    height: 77em;
}

.features .text {
    position: relative;
    top: -4em;
}

.features .text h1 {
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}


.features .card-1 img{
    position: relative;
    left: -4.5em;
    width: 19em;

}

.features_ground{
    position: absolute;
    top: 119em;
    left: 3em;
    border-width: 6em 8em;
}

.card-1_text {
    position: absolute;
    top: 170em;
    left: 6.3em;
}




.features .card-2 img{
    position: relative;
    left: -4.5em;
    top:11em;
    width: 19em;

}


.features_ground-2{
    position: absolute;
    top: 144em;
    left: 3em;
    border-width: 6em 8em;
}

.card-2_text {
    position: absolute;
    top: 204em;
    left: 6.3em;
}





.features .card-3 img{
    position: relative;
    left: -4.5em;
    top:22em;
    width: 19em;

}


.features_ground-3{
    position: absolute;
    top: 168em;
    left: 3em;
    border-width: 6em 8em;
}

.card-3_text {
    position: absolute;
    top: 236em;
    left: 6.3em;
}





/* TECHNOLOGY */
.technology{
    text-align: center;
    padding: 6em 6em 6em 6em;
    height: 77em;
}

.technology .text {
    position: relative;
    top: -4em;
    left: -1em;
    
}

.technology .text h1{
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
}


.technology .number-1{
    position: absolute;
    top: 31.2em;
    left: 1.3em;
}

.technology .card-1 h1{
    position: relative;
    top:-2em;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.technology .card-1 p{
    position: relative;
    top:-2em;
    left:0em;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 12em;
}

.technology .card-1 img{
    position: relative;
    top: -3em;
    left: 0.5em;
  
    
}




.technology .number-2{
    position: absolute;
    top: 34.4em;
    left: 1.3em;
}

.technology .card-2 h1{
    position: relative;
    top:6em;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.technology .card-2 p{
    position: relative;
    top:7em;
    left:0em;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 12em;
}

.technology .card-2 img{
    position: relative;
    top: 7em;
    left: 0.5em;
  
    
}




.technology .number-3{
    position: absolute;
    top: 37.6em;
    left: 1.3em;
}

.technology .card-3 h1{
    position: relative;
    top:15em;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.technology .card-3 p{
    position: relative;
    top:19em;
    left:0em;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 12em;
}

.technology .card-3 img{
    position: relative;
    top: 16em;
    left: 0.5em;
  
    
}


.technology .number-4{
    position: absolute;
    top: 40.7em;
    left: 1.3em;
}

.technology .card-4 h1{
    position: relative;
    top:24em;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.technology .card-4 p{
    position: relative;
    top:31em;
    left:0em;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 12em;
}

.technology .card-4 img{
    position: relative;
    top: 26em;
    left: 0.5em;
  
    
}


/* CONTACT */

.contact{
    display: grid;
}

.contact .text h1 {
    position: relative;
    left: -2em;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 330;
    font-size: 32px;
    color: #fff;
    width: 8em;
    text-align: center;
}


.contact .text p {
    position: relative;
    left: -7em;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    width: 22em;
    text-align: center;
}


.contact .text i {
    position: relative;
    left: -0.4em;
    top: 0em;
}


.contact .photo img{
    position: relative;
    top: 3em;
    left: -7em;
    width: 20em;

}


/* AUTH */


.auth .text p{
    text-align: center;
    position: relative;
    left: -7em;
    width: 20em;
}


.name-1 #fname {
    position: relative;
    left: -8em;
    width: 260px;
}

.name-1{
    padding: 1em;
}


.name-2 #lname {
    position: relative;
    left: -8em;
    width: 260px;
}

.name-2{
    padding: 1em;
}


.phone #phone{
    position: relative;
    left: -8em;
    width: 260px;
    
}

.phone{
    padding: 1em;
}

.choose #list{
    position: relative;
    left: -8em;
    width: 267px;
}

.choose{
    padding: 1em;
}


.auth__login button {
    position: relative;
    left: -3em;
}



/* INFO */

.info{
    padding: 6em 5em 24em 8em;
}
.info .text-1{
    position: relative;
    text-align: center;
    left:-1em;
    top:-4em;
}

.info .text-2{
    position: relative;
    text-align: center;
    left:-9em;
    top:3em;
}


.info .text-3{
    position: relative;
    text-align: center;
    left:-15em;
    top:13em;
}

.info .text-4{
    position: relative;
    text-align: center;
    left:-26em;
    top:22em;
}


.info .copy{
    position: relative;
    text-align: center;
    left: -1.5em;
    top: 22em;
}

 
 
    
}